@media screen and (max-width: 992px) {
  .el-main {
    margin-left: 0 !important;
    transition: all 0.5s ease;
  }

  .dialog .el-dialog {
    width: 50% !important;
  }

  .left-nav {
    position: relative !important;
    background-image: none !important;
    height: 120px !important;
    line-height: 120px !important;
    transition: all 0.5s ease;
  }

  .bloger {
    position: fixed;
    /* left: -300px; */
    top: 120px !important;
    z-index: 10;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }

  .article {
    transform: translateX(0);
    transition: transform 0.5s ease;
  }

  .container1 {
    width: 100% !important;
  }

  .container .bloger {
    transform: translateX(1%);
  }

  .container .article {
    transform: translateX(250px);
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }

  .search {
    width: 60%;
  }

  .rbloger {
    position: fixed;
    right: 0;
    top: 120px;
    transform: translateX(250px);
    transition: all 0.5s;
    height: 139px !important;
  }

  .isOpen {
    transform: translateX(0) !important;
    overflow: initial;
    transition: all 0.5s;
  }

  .ismeun {
    transform: translateX(300px);

    /* transition: all .5s !important; */
  }

  .hidden {
    overflow: hidden !important;
  }

  .menu {
    display: block !important;
  }

  .link-home {
    flex: 2;
    font-size: 26px !important;
  }

  .hide-aside {
    display: block !important;
  }

  .nav {
    height: 120px !important;
    transition: height 0.5s ease;
  }
}

@media screen and (max-width: 767px) {
  .article_content {
    display: block !important;
  }

  .container-content {
    display: block !important;
  }

  .container-content li {
    width: 80% !important;
    margin: 15px auto !important;
    text-align: center;
  }

  .dialog .el-dialog {
    width: 80% !important;
  }

  .mini-lyric {
    display: block !important;
  }

  .time {
    display: none;
  }

  .father-comment {
    transform: translate3d(-12.5%, 0, 0) !important;
    width: 110% !important;
  }

  .son-comment {
    transform: translate3d(-38%, 0, 0) !important;
    width: 150% !important;
  }

  .song-bank {
    height: 300px !important;
  }

  .bloger {
    position: absolute;
    /* left: -300px; */
    top: 300px !important;
    z-index: 10;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }

  .blog-name {
    font-size: 22px !important;
    font-weight: bolder;
  }

  .container1 {
    width: 100% !important;
  }

  #bg-canvas {
    background-image: none !important;
  }

  #bg-canvas:before {
    content: '';
    background-image: url('http://img.nanwayan.cn/bg.png') !important;
    background-size: cover;
    background-position: 50% 20%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .yema /deep/ .el-pagination__sizes {
    display: none !important;
  }

  .nav {
    height: 300px !important;
    background-position: 36% 30% !important;
  }

  .comment-author {
    display: block !important;
  }

  .author-cls {
    display: block !important;
    width: 100% !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
}

.ban {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.el-popup-parent--hidden {
  padding-right: 0px !important;
}
