@media screen and (max-width: 992px) {
  .el-main {
    margin-left: 0 !important;
    transition: all 0.5s ease;
  }

  .dialog .el-dialog {
    width: 50% !important;
  }

  .left-nav {
    position: relative !important;
    background-image: none !important;
    height: 120px !important;
    line-height: 120px !important;
    transition: all 0.5s ease;
  }

  .bloger {
    position: fixed;
    /* left: -300px; */
    top: 0 !important;
    z-index: 10;
    height: calc(100vh - 88px) !important;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }

  .article {
    transform: translateX(0);
    transition: transform 0.5s ease;
  }
 
  .article_content{
    height: 100% !important;
  }

  .artilcl {
    height: 100% !important;
  }

  .container1 {
    width: 100% !important;
  }

  .container .bloger {
    transform: translateX(1%);
  }

  .container .article {
    transform: translateX(250px);
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }

  /* .container .nav-open {
    left: 250px !important;
    transition: all 0.5s ease;
  } */

  .search {
    width: 60%;
  }

  .rbloger {
    position: fixed;
    right: 0;
    top: 120px;
    transform: translateX(250px);
    transition: all 0.5s;
    height: 149px !important;
  }

  .isOpen {
    transform: translateX(0) !important;
    overflow: initial;
    transition: all 0.5s;
  }

  .ismeun {
    transform: translateX(300px);

    /* transition: all .5s !important; */
  }

  .hidden {
    overflow: hidden !important;
  }

  .menu {
    display: block !important;
  }

  .link-home {
    flex: 2;
    font-size: 26px !important;
  }

  .hide-aside {
    display: block !important;
  }

  .nav {
    height: 120px !important;
    transition: height 0.5s ease;
  }
}

@media screen and (max-width: 576px) {
  .catalog-tree {
    position: sticky !important;
    top: 80% !important;
    /* left: 0 !important;
    right: 20px; */
  }

  .rbloger .tags {
    display: none;
  }

  .description {
    max-width: 100% !important;
  }

  .show {
    width: 100px !important;
    height: 94px !important;
  }
  .article_content{
    display: block !important;
  }
  .article_loaded {
    height: 421px !important;
  }

  /* .artilcl img {
    width: 300px !important;
  } */

  .artilcl_loaded {
    height: 300px !important;
  }
  .container-content {
    display: block !important;
  }

  .container-content li {
    width: 80% !important;
    margin: 15px auto !important;
    text-align: center;
  }

  .dialog .el-dialog {
    width: 80% !important;
  }

  .mini-lyric {
    display: block !important;
  }

  .time {
    display: none;
  }

  .father-comment {
    transform: translate3d(-12.5%, 0, 0) !important;
    width: 110% !important;
  }

  .son-comment {
    transform: translate3d(-38%, 0, 0) !important;
    width: 150% !important;
  }

  .song-bank {
    height: 300px !important;
  }

  .bloger {
    /* position: absolute; */
    /* left: -300px; */
    top: 0 !important;
    z-index: 10;
    transform: translateX(-100%);
    margin-top: 0 !important;
    transition: all 0.5s ease;
    height: 100vh !important;
  }

  .blog-name {
    font-size: 22px !important;
    font-weight: bolder;
  }

  .container1 {
    width: 100% !important;
  }

  #bg-canvas {
    background-image: none !important;
  }

  #bg-canvas:before {
    content: '';
    background-image: url('http://img.nanwayan.cn/bg.png') !important;
    background-size: cover;
    background-position: 50% 20%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .yema /deep/ .el-pagination__sizes {
    display: none !important;
  }

  .nav {
    height: 300px !important;
    background-position: 36% 30% !important;
  }

  .comment-author {
    display: block !important;
  }

  .author-cls {
    display: block !important;
    width: 100% !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
}

.ban {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.el-popup-parent--hidden {
  padding-right: 0px !important;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  /* background: transparent; */
  background: #ef5b9c
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  background: #feeeed;
  border-radius: 4rem;
}

.dark img {
  filter: invert(1) hue-rotate(180deg);
}

/* @-webkit-keyframes glitch-anim-1 {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  2% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }

  6% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }

  8% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }

  9% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  10% {
    -webkit-clip-path: polygon(0 54%,100% 54%,100% 44%,0 44%);
    clip-path: polygon(0 54%,100% 54%,100% 44%,0 44%);
    -webkit-transform: translate3d(5px,0,0);
    transform: translate3d(5px,0,0);
  }

  13% {
    -webkit-clip-path: polygon(0 54%,100% 54%,100% 44%,0 44%);
    clip-path: polygon(0 54%,100% 54%,100% 44%,0 44%);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  13.1% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  15% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  20% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20.1% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  25% {
    -webkit-clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  30% {
    -webkit-clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  30.1% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  35% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }

  40% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }

  45% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }

  50% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  55% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  60% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }

  60.1% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }

  100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
} */
