/* .test-enter-active,
.test-leave-active {
  animation: bounce-in .5s;
  /* font-size: 12px; */
/* } */
.hide-enter-active {
  transition: all 0.5s;
}

.hide-leave-active {
  display: none
}

.hide-enter,
.hide-leave-to {
  opacity: 0;

}

.test-enter {
  animation: bounce-in 0.5s;
}

.test-leave-active {
  /* opacity: 0; */
  animation: bounce-in 0.5s reverse;
  /* font-size: 40px; */
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}


.bounces {
  animation: bounces 0.5s;
}

@keyframes bounces {

  0%,
  20% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(50%, -50%, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(30px, -30px, 0);
  }

  53% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(15px, -15px, 0);
  }

  80% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  90% {
    transform: translate3d(4px, -4px, 0);
  }

  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
}

.page-enter-active {
  animation: bounce 0.5s;
}
